<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endpoint</key>
	<string>https://staging-iot.storychannels.app</string>
	<key>hub</key>
	<string>b47bbc659eb344888f9f92ed3261d8dc</string>
	<key>key</key>
	<string>df94b12c3355425eb4efa406f09e8b9f</string>
	<key>secret</key>
	<string>163af6783ae14d5f829288d1ca44950e</string>
	<key>expirationTimeInterval</key>
	<integer>180</integer>
</dict>
</plist>
